<style> h1 {text-decoration: underline;} </style>
<h1>ATTACK!</h1>

<h3><%= @player_1.name %> attacked <%= @player_2.name %></h3>


<h3> <%= @player_2.name %> lost 10hp now only has <%= @player_2.health %>hp</h3>
