

<style> h1 {text-decoration: underline;} </style>

<h1><center> Battle of the Titans: </center></h1>
<h2><center> <%= @player_1_name %> 100hp </center></h2>

<h2><center> vs. </center></h2>

<h2><center><%= @player_2_name %> 100hp </center></h2>
<a href="/attack">Attack</a>
